@import url('https://fonts.googleapis.com/css?family=Pacifico');

.jumbotron {
  height: 150px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.my-header {
    font-family: 'Pacifico', cursive;
}

.pending-header {
    background-color: mediumvioletred;
}

.strikeItem {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .navbar-form {
    margin: 0 !important;
    /* Avoid !important and use the custom CSS with higher priority */
    padding-top: 7px !important;
  }
}

#form-input {
  color: darkgray;   
  height: 35px;
  padding: 0px 6px;
}

#form-btn {
  height: 35px;
  font-size: 16px;
}